@font-face {
    font-family: 'BM';
    src: url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.eot?#iefix') format('embedded-opentype'), url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.otf') format('opentype'), url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.woff') format('woff'), url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.ttf') format('truetype'), url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.svg#BMDoHyeon-OTF00') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* default */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    position: absolute;
    margin: 30px 0 0 40px;
    padding-bottom: 17px;
    font-size: 45px;
    font-family: 'BM';
    border-bottom: 5px solid black;
}

.backButton {
    position: absolute;
    width: 72px;
    height: 37px;
    background-image: url(../images/KibokWebPortfolio/back.png);
    top: 60px;
    right: 0;
    margin-right: 10px;
    border: none;
}
