@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);

@font-face {
    font-family: 'BM';
    src: url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.eot?#iefix') format('embedded-opentype'), url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.otf') format('opentype'), url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.woff') format('woff'), url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.ttf') format('truetype'), url('https://nam-ki-bok.github.io/KibokWebPortfolio/css/webfont/BMDoHyeon-OTF00.svg#BMDoHyeon-OTF00') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* default */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d2d2d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 30px 0 0 40px;
    padding-bottom: 17px;
    font-size: 40px;
    font-family: Lato;
    font-weight: 100;
    color: white;
    border-bottom: 1px solid white;
}

.back {
    font-size: 36px;
    font-family: Lato;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    display: block;
    font-weight: 100;
    top: 50px;
    right: 0;
    margin-right: 10px;
}

.description {
    font-family: 'BM';
    color: #ededed;
    margin: 40px 0 0 40px;
    font-size: 16px;
}

.responsiveDescription {
    font-family: 'BM';
    color: #ededed;
    margin: 40px 0 0 40px;
    font-size: 16px;
    display: none;
}

.description2 {
    position: absolute;
    font-family: 'BM';
    font-size: 16px;
    color: #ededed;
    margin: 40px 0 0 40px;
}

.reponsiveDescription2 {
    position: absolute;
    font-family: 'BM';
    font-size: 16px;
    color: #ededed;
    margin: 40px 0 0 40px;
    display: none;
}

@media(max-width:1300px) {
    .responsiveDescription {
        display: block;
        font-size: 14px;
    }

    .description {
        display: none;
    }

    .reponsiveDescription2 {
        display: block;
        font-size: 14xp;
    }

    .description2 {
        display: none;
    }
}

.algorithm {
    position: relative;
    width: 80%;
    margin: 30px 0 0 55px;
    background-color: #434343;
}

.viewCode {
    font-size: 38px;
    font-family: Lato;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    display: block;
    font-weight: 200;
    margin: 330px 0 0 40px;
}

.c {
    position: absolute;
    font-size: 16px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 380px;
}

.remark {
    font-size: 13px;
}

.highlight {
    color: #5CAAEF;
}
